@model IEnumerable<eOpcina.Models.Zahtjev>
@using System.ComponentModel.DataAnnotations
@using System.Reflection

@{
    ViewData["Title"] = "Pregled zahtjeva";

    string GetDisplayName(Enum enumValue)
    {
        var member = enumValue.GetType().GetMember(enumValue.ToString()).FirstOrDefault();
        if (member != null)
        {
            var displayAttr = member.GetCustomAttribute<DisplayAttribute>();
            if (displayAttr != null)
            {
                return displayAttr.GetName();
            }
        }
        return enumValue.ToString();
    }
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Pregled zahtjeva</title>
</head>

@if (User.IsInRole("Administrator") || User.IsInRole("Zaposlenik"))
{
    <h1 style="margin:30px; margin-bottom:50px;">Pregled poslanih zahtjeva</h1>

    <table class="table table-striped custom-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DatumSlanja)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazlogZahtjeva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Korisnik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dokument)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var korisnikDisplay = $"{item.Korisnik.Ime} {item.Korisnik.Prezime} - JMBG: {item.Korisnik.JMBG}";
                var tip = item.Dokument?.Sablon?.TipDokumenta;
                var tipDisplay = tip != null ? GetDisplayName(tip) : "N/A";

                <tr>
                    <td>@item.DatumSlanja.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@GetDisplayName(item.RazlogZahtjeva)</td>
                    <td>@korisnikDisplay</td>
                    <td>@tipDisplay</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}